html {
	width: 100%;
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f1f1f1;
	position: relative;
	padding-bottom: 58px;
	min-height: 100vh;
  }
  header {
	text-align: center;
	background-color:  #C9C8C5;
	color: #1e1e1e;
	padding: 20px;
	font-family: 'Open Sans', sans-serif;
	
  }
  header h1 {
	font-size: 48px;
	margin-bottom: 30px;
  }
  header p {
	font-size: 22px;
  }
  main {
	width: 90vw;
	margin: 0 auto;
	padding: 30px 20px;
	/* margin: 5px; */
	/* min-height: calc(100vh - 211px - 58px); */
  }
  article {
	background-color: #fff;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
  }
  article:last-child {
	margin-bottom: 0;
  }
  article h3 {
	margin: 10px 0 25px 0;
  }
  article p {
	margin-top: 16px;
	line-height: 24px;
  }

  .content_hakkimda {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
  }
  .content_hakkimda img {
	max-width: 25%;
	padding-right: 10px;
	
  }

  footer {
	text-align: center;
	background-color: #333;
	color: #fff;
	padding: 20px;
	position: absolute;
	bottom: 0;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	/* position: fixed;
	z-index: 1; */
  }

  nav {
	float: center;	
  }  
  nav ul {
	margin: 5px;
	padding: 5px;
	list-style: none;
  }  
  nav li {
	display: inline-block;
	margin-left: 70px;
	padding-top: 23px;
	position: relative;
	font-family: 'Raleway', sans-serif;
  }
  nav a {
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 17px;
  } 
  nav a:hover {
	color: #000;
  } 
  nav a::before {
	content: '';
	display: block;
	height: 5px;
	background-color: #444;
	position: absolute;
	top: 0;
	width: 0%;
	transition: all ease-in-out 250ms;
  }
  
  nav a:hover::before {
	width: 100%;
  }
  
  @media(max-width:768px) {
	header { padding: 30px 20px; }
	header h1 { font-size: 36px; margin-bottom: 22px; }
	header p { font-size: 18px; }
	main { width: 100vw; padding: 20px; }
	article { margin-bottom: 16px; font-size: 14px; }
	article h3 { margin: 10px 0 20px 0; }
	article p { margin-top: 16px; line-height: 20px; }

	/* .content_hakkimda {
		display: flex;
	}
	article {
		margin: auto;
	} */
	/* main {
		margin-top: auto;
		margin-bottom: auto;
	} */

  }